// @import "./variables.scss";

body {
    font-family: 'Open Sans', sans-serif; // font weight 400 and 600
}
h1 {
    color: lightblue;
}
h1, h2, h3 {
    font-family: 'Black Ops One', cursive;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}